.tableHead th {
  /* vertical-align: middle !important; */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableHead th div:first-child {
  text-align: center;
}

.tableHead th div:nth-child(2) {
  width: 100%;
}
